<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Khomenko\HealthCheck\Api\Data\ReportPatternSearchResultsInterface" type="Magento\Framework\Api\SearchResults" />
    <preference for="Khomenko\HealthCheck\Api\Data\ReportPatternInterface" type="Khomenko\HealthCheck\Model\ReportPattern" />
    <preference for="Khomenko\HealthCheck\Api\ReportPatternRepositoryInterface" type="Khomenko\HealthCheck\Model\ReportPatternRepository" />

    <preference for="Khomenko\HealthCheck\Api\Data\ReportItemSearchResultsInterface" type="Magento\Framework\Api\SearchResults" />
    <preference for="Khomenko\HealthCheck\Api\Data\ReportItemInterface" type="Khomenko\HealthCheck\Model\ReportItem" />
    <preference for="Khomenko\HealthCheck\Api\ReportItemRepositoryInterface" type="Khomenko\HealthCheck\Model\ReportItemRepository" />

    <type name="Magento\Framework\Console\CommandList">
		<arguments>
			<argument name="commands" xsi:type="array">
				<item name="InitReports" xsi:type="object">Khomenko\HealthCheck\Console\Command\InitReports</item>
			</argument>
		</arguments>
	</type>

    <virtualType name="Khomenko\HealthCheck\Model\ResourceModel\Grid\Report\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">healthcheck_report_pattern</argument>
            <argument name="eventPrefix" xsi:type="string">reports_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">reports_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">\Khomenko\HealthCheck\Model\ResourceModel\ReportPattern</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="reports_listing_data_source" xsi:type="string">Khomenko\HealthCheck\Model\ResourceModel\Grid\Report\Collection</item>
            </argument>
        </arguments>
    </type>
</config>
